* {
  margin: 0;
  padding: 0;
}

body {
  margin: 4rem;
  background-color: #444;
}

nav li {
  display: inline-block;
  list-style: none;
  margin-right: 4rem;
}

nav {
  margin-bottom: 4rem;
  font-size: 2rem;
  color: lightblue;
}

nav a {
  text-decoration: none;
}

nav a:hover,
nav a:active {
  color: lightblue;
}

a,
a:focus,
a:visited {
  color: deepskyblue;
  outline: none;
}