.calendarview .header,
.calendarview .table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.calendarview .header {
  background-color: deepskyblue;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px 5px 0px 0px;
  text-align: center
}

.calendarview .header div {
  padding: 0.5rem;
}

.calendarview {
  padding: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.7rem;
}

.calendarview .day {
  margin-bottom: 0.5rem;
  border: 1px solid deepskyblue;
  padding: 0.5rem;
  background-color: #ccc;
  border-radius: 0px
}

.calendarview .patient {
  margin-left: 0.5rem;
}

.calendarview .time {
  color: #444;
  background-color: lightblue;
  padding: 5px;
}